@media (min-width: 700px) {
    .navbar .toggle {
        display: none;
    }
}

@media (max-width: 700px) {


    .navbar .left,
    .navbar .right {
        display: none;
    }

    /* .navbar .link {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
        height: auto;
        padding: 1rem;
    } */

    .navbar .brand {
        text-align: right;
        width: -webkit-fill-available;
        height: auto;
        padding: 1em;
        color: rgb(100, 15, 100);
    }

    .navbar .toggle {
        display: inline-block;
    }

    /*Js*/
    
    /* .navbar .active .toggle {
        display: inline-block;
        background-color: mediumaquamarine;
        color: thistle;
    }

    .navbar .left .link:active {
        display: block;        
    } */

    .navbar.active {
        display: block;
    }

    .active .left {
        display: block;
    }

    .active .right {
        display: block;
        margin-right: 0px;
    }
}


